.dropdownContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropdownContainer > label {
  font-size: 1.5rem;
  font-weight: 700;
}

.selectWrapper {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);

  font-size: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.selectWrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 25%;
  right: 1rem;
  position: absolute;
}

.dropdownSelect {
  appearance: none;
  --webkit-appearamce: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem 3rem 0.5rem 1rem;

  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
}

.highScoreEntry > td {
  background-color: var(--secondary-color);
}

.highScoreEntry > td:first-child {
  border-radius: 1rem 0 0 1rem;
}

.highScoreEntry > td:last-child {
  border-radius: 0 1rem 1rem 0;
}

.hi .highScoreList {
  margin-top: 1rem;
}
