.boundingBoxContainer {
  position: absolute;
  white-space: nowrap;
  width: 70px;
  height: 70px;
  transform: translate(-35px, -35px);

  border: 2px solid red;
  color: red;

  pointer-events: none;
  box-shadow: 1px 1px black;
}

.boundingBoxDetails {
  transform: translate(120%);
  font-size: 0.6rem;

  text-shadow: 1px 1px black;
}

.boundingBoxObject {
  margin-top: 0.5rem;
}
