.dialogContainer {
  background-color: var(--secondary-color);
  padding: 1rem;
  border: none;
  border-radius: var(--default-border-radius);
  width: 40rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  color: var(--accent-color);
  text-align: center;
}

.startBodyContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.startBodyContainer > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bodyName > * {
  text-align: end;
}

.bodyValue > * {
  text-align: start;
}
