.gameCardContainer {
  height: 250px;
  box-shadow: var(--default-box-shadow-value);
}
.gameCardContainer:hover {
  transform: scale(1.03);
}

.cardImage {
  height: 70%;
  object-fit: cover;
  display: block;
}

.cardDetails {
  height: 30%;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
