.gameCardContainer {
  position: relative;
  height: 400px;
  flex-basis: 250px;
  box-shadow: var(--default-box-shadow-value);
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}
.gameCardContainer:hover {
  transform: scale(1.03);
}

.cardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.cardDetails {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}
