:root {
  --primary-color: #021526;
  --primary-color-transparent: #02152680;

  --secondary-color: #03346e;
  --secondary-color-transparent: #03336e80;

  --tertiary-color: #6eacda;

  --accent-color: #e2e2b6;
  --text-color: white;

  --default-border-value: 2px solid var(--tertiary-color);
  --default-border-radius: 16px;
  --default-box-shadow-value: rgba(255, 255, 255, 0.2) 2.5px 2.5px 2.6px 2px;
  --default-text-shadow: 1px 1px black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.page-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

table {
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
}

th {
  font-size: 1.5rem;
}

tr {
  border-bottom: 1px solid var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-fields > * {
  display: block;
}

.button-group {
  display: flex;
  justify-content: space-around;
}
